@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Futura Std';
    src: url('/public/fonts/FuturaStd/FuturaStd-Medium.woff2') format('woff2'),
        url('/public/fonts/FuturaStd/FuturaStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Std';
    src: url('/public/fonts/FuturaStd/FuturaStd-Heavy.woff2') format('woff2'),
        url('/public/fonts/FuturaStd/FuturaStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Std';
    src: url('/public/fonts/FuturaStd/FuturaStd-Light.woff2') format('woff2'),
        url('/public/fonts/FuturaStd/FuturaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Std';
    src: url('/public/fonts/FuturaStd/FuturaStd-Bold.woff2') format('woff2'),
        url('/public/fonts/FuturaStd/FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.futura-bold {
    font-family: "Bellota Text", cursive;
    font-weight: bold;
    font-style: normal;
}

.futura-light {
    font-family: "Bellota Text", cursive;
    font-weight: 300 ;
    font-style: normal ;

    strong {
        font-weight: 900;
    }
}

.font-heavy {
    font-family: "Bellota Text", cursive;
    font-weight: 900;
    font-style: normal;
}
